---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout>
    <h1 class="font-semibold text-4xl text-green-700 hover:text-green-600">Hello World</h1>
    hi there wweloc
</RootLayout>