---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout>
    <h1 class="font-semibold text-4xl text-orange-900 hover:text-orange-800">Hello World</h1>
    hi there wweloc
</RootLayout>