---
const year = new Date().getFullYear().toString();
---

<footer
    class="bg-slate-100 bg-opacity-30 w-full min-h-[50px] text-zinc-800 font-medium fixed bottom-0 text-center flex items-center justify-center"
>
    Copyright &copy;&nbsp; <span id="copyright">{year}</span> &nbsp;| All Rights Reserved
</footer>

<!-- <script>
    document.querySelector("#copyright")!.textContent = new Date().getFullYear().toString();
</script> -->
