---
import routes from "../routes";
import Link from "./Link.astro";
---

<header
    class={`flex items-center justify-between gap-1 fixed w-full top-0 min-h-[60px] bg-gradient-to-r from-sky-300
         via-violet-400 to-cyan-300`}
>
    <h2 class="text-4xl ml-2 font-semibold font-righteous text-zinc-800">UX 7</h2>
    <nav class={`flex space-x-1 mr-2 capitalize`}>
        {routes.map((r) => <Link route={r} />)}
    </nav>
</header>
