---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import NotFound from "../components/NotFound.astro";
import "../styles/global.css";
const { title } = Astro.props;
var center = `flex flex-col items-center justify-center gap-2`;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title ?? "Astro -mza"}</title>
    </head>
    <body>
        <main
            class={`${center} bg-gradient-to-br from-sky-800 via-indigo-400 to-emerald-800 min-h-screen w-full`}
        >
            <Header />
            <slot>
                <NotFound />
            </slot>
            <Footer />
        </main>
    </body>
</html>
